.users {

}

.container {
    display: flex;
    justify-content: space-between;
}

.start {

}

.selectedPage {
    font-weight: 600;
    color: red;
    cursor: pointer;
    padding: 0px 10px 0px 10px;

}

.page {
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.followed {
    & button {

    }
}

.middle {

}

.name {

}

.status {

}

.end {

}

.location {
    & span {
        
    }
}

