.link {
    color: red;
}

.loginBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginBlockLink {
    color: white;
}

.headerContainer {
    padding: 0px 25px 0px 25px;
}