.container {
    background-color: green;
    padding: 20px;
}

div {
    margin: 10px 0 10px;
}

.item {
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.active {
    text-decoration: none;
    color: gold;
}

.sidebar {
    margin-top: 25px;
    color: white;
    font-size: 25px;
}
