.grid { 
  display: grid;
 
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}
.header {
  grid-area: header;
  background-color: red;
}
.sidebar {
  grid-area: nav;
}
.content {
  grid-area: content;
}
.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue; 
}
